head
  style(type="text/css").
    body{
      background-color: rgb(50, 27, 116);
    }
    h1{
      color: white;
      font-family: cursive;
      font-size: 50px;
      font-weight: 300;
      text-align: center;
      margin-top: 30%;
    }
    a{
      color: white;
      text-decoration: none;
    }
body
  a(href="/") go to mane page
  h1 page not fount 404 