doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title SB Admin - Start Bootstrap Template

    include includes/css/core.pug

    include includes/css/custom.pug

  body#page-top.fixed-nav.sticky-footer.bg-dark
    include includes/navbar.pug
    .content-wrapper
      .container-fluid
        form(action="/admin/addbook", method='post', autocomplete="off", enctype="multipart/form-data" )
            .form-group
            input.form-control(type='text', placeholder='სათაური', name="satauri")
            .form-group
            input.form-control(type='text', placeholder='ავტორი', name="avtori")
            .form-group
            input.form-control(type='text', placeholder='ჟანრი', name="janri")
            .form-group
            input.form-control(type='text', placeholder='გამოშვების წელი', name="weli")
            .form-group
            label(for='exampleFormControlFile1') ფაილის ატვირთვა
            input#exampleFormControlFile1.form-control-file(type='file', name='newwigni')

            <button type="submit" class="btn btn-primary mt-5 ai-center text-centr">Submit</button>

      include includes/footer.pug

      include includes/modals/logout.pug

      include includes/js/core.pug

      include includes/js/custom.pug
