doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')

    title aeeeeeeeeeeeeeeeeeeeeee
    include includes/css/core.pug

    include includes/css/custom.pug

  body.bg-dark
    .container
      .card.card-login.mx-auto.mt-5
        .card-header
          | Login
        .card-body
          form(method="POST", action="/admin/a")
            .form-group
              label(for='exampleInputEmail1') Email address
              input.form-control( name="name")
            .form-group
              label(for='exampleInputPassword1') Password
              input.form-control(type='password', placeholder='Password', name="pass")
            button.btn.btn-primary(type='submit') Sign up
          .text-center
            a.d-block.small.mt-3(href='register.html') Register an Account
            a.d-block.small(href='forgot-password.html') Forgot Password?

    include includes/js/core.pug
