<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ბიბლიოთეკა

        include includes/css/core.pug

        include includes/css/custom.pug

        include includes/css/usercostume.pug

    body
        //header
        //    a(href="/admin") adminka
        //    br
        //    a(href="/user/login") user login

        div.body
            .container
                .nav.d-flex.justify-content-between
                    #logo.logo
                        a(href="/")
                            | gzajvaredini.ge
                    ul
                        li
                            a(href='/statistics') statistics
                        li
                            a(href='./loginRegister.html') Login/SignUp
                        li
                            a(href='#') about
                .hero
                    .title(style='font-size: 4em')
                        | მეც შენნაირი ვარ
                        br
                        span(style='font-size: 19px;')
                            a(href="/user/mkitxvari")
                                | შეავსეთ კითხვარი
                    #logged.button(style='font-size: 1em')
                        a(href="/user/register")
                            | რეგისტრაცია/სისტემაში შესვლა



        include includes/js/core.pug

        include includes/js/usercostumejs.pug