<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ბიბლიოთეკა

        include includes/css/core.pug

        include includes/css/custom.pug
        style(type="text/css").
            header{
                max-width: 100%;
                text-align: right;
                padding: 40px;
            }
            a{
                width: 100%;
            }
    body
        header
            a(href="/admin") adminka


        include includes/js/core.pug