<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title admin login

        include includes/css/core.pug

        include includes/css/custom.pug

        include includes/css/usercostume.pug

        body.contaner
            h1 Login
                form(method='POST', action='/admin')
                    #form-group
                    label Username:
                    input.form-control(name='username',type='text')
                    #form-group
                    label Password:
                    input.form-control(name='password',type='password')
                    br
                    input.btn.btn-primary(type='submit',value='Submit')
            include includes/js/core.pug

            include includes/js/usercostumejs.pug