<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ბიბლიოთეკა

        include includes/css/core.pug

        include includes/css/custom.pug

        include includes/css/usercostume.pug

        include includes/css/prof.pug

    body
        div.header
            p= user.name
            a(href="/user/logout").logout log out
        div.body
            nav.usernav
            div.books_list
                


        include includes/js/core.pug