// Bootstrap core JavaScript
script(src='/public/admin/jquery/jquery.min.js')
script(src='/public/admin/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/public/admin/jquery-easing/jquery.easing.min.js')
